In [1]:
import pandas as pd
import numpy as np
import os
# os.listdir("../data/input/")
df = pd.read_csv("../data/input/train.csv")
df_test = pd.read_csv("../data/input/test.csv")

In [2]:
df

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region,Id
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,0
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,1
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,2
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,3
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11226,2016-01-31,1.64,11626.56,1618.90,4032.03,2.34,5973.29,5957.67,15.62,0.0,organic,2016,WestTexNewMexico,14736
11227,2016-01-24,1.47,12171.04,1554.09,4656.41,9.36,5951.18,5852.36,98.82,0.0,organic,2016,WestTexNewMexico,14737
11228,2016-01-17,1.45,13237.48,1912.60,4779.17,25.72,6519.99,6447.25,72.74,0.0,organic,2016,WestTexNewMexico,14738
11229,2016-01-10,1.37,12647.90,1591.60,4070.29,23.41,6962.60,6780.56,182.04,0.0,organic,2016,WestTexNewMexico,14739
11230,2016-01-03,1.58,9667.05,1820.39,2783.11,16.41,5047.14,4651.16,395.98,0.0,organic,2016,WestTexNewMexico,14740

In [3]:
df_test.isnull().sum()

Date            0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
Id              0
dtype: int64

In [4]:
import pandas_profiling as pp
pp.ProfileReport(data_fra)

ModuleNotFoundError: No module named 'pandas_profiling'